body {
    background-color: #f8f9fa;
}
.tbl-img{
    width: 41px;
}

.wizard .nav-tabs {
    margin-bottom: 20px;
}
.wizard .tab-pane {
    position: relative;
}

.wizard .nav-tabs .nav-link.active {
    background-color: #17a2b8;
    color: #fff;
}
.logo {
    display: block;
    margin: 0 auto 20px;
    width: 150px;
}